<?xml version="1.0" encoding="UTF-8"?>

<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">
	<context:component-scan base-package="com.luv2code.springdemo"/>
	<context:property-placeholder location="classpath:sport.properties"/>
	
	 <bean id="myLoggerConfig" class="com.luv2code.springdemo.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
	
	
	<bean id="myCoach" class="com.luv2code.springdemo.BaseballCoach">
<constructor-arg ref="myFortuneServicesad"/>
	</bean>
	
	<bean id="myCoach2" class="com.luv2code.springdemo.TrackCoach">
<!--  <constructor-arg ref="myFortuneService"/>-->
   <property name="randomVal" value="${ratlamkigali.dog}"/>
    <property name="fortuneService" ref="myFortuneServicenew"></property>
   
	</bean>
	
	<bean id="myCoach3" class="com.luv2code.springdemo.CricketCoach">
         <constructor-arg ref="myFortuneService"/>
	</bean>
	
	<bean id="scopingTest" class="com.luv2code.springdemo.NewClassForBeanScope" scope="singleton">
         
	</bean>
	
	<bean id="scopingTestAnother" class="com.luv2code.springdemo.NewClassForBeanScope" scope="prototype">
         
	</bean>
	
	<bean id="myFortuneService"
	class ="com.luv2code.springdemo.HappyFortuneService">
	</bean>

    <bean id="myFortuneServicesad"
	class ="com.luv2code.springdemo.SadFortuneService">
	</bean>
	
	<bean id="myFortuneServicenew"
	class ="com.luv2code.springdemo.NewImplementationForFortuneService">
	</bean>

</beans>